<style>
	#search_more select{
		width: 60px;
	}
</style>
<div class="nav-common nav-top">
	<ul class="col-sm-12 list-unstyled">
		<a href="/">
			<li class="text-left">
				<span>
					<img src="img/triplong_logo.png" alt="" style="width:10rem;">
				</span>
			</li>
		</a>

		<a href="javascript:;">
			<li class="text-right">			 
				<span class="login-info hide" onclick="login_or_home(this)">
					<i class="icon icon-user"></i>
					<span class="login-info-name"></span>
				</span>
			</li>
		</a>
	</ul>
</div>
<div class="bg-line"></div>


<script>
	var strCookie=$.cookie('loginInfo'),loginInfo; 
	// console.log(strCookie);
	if (strCookie!=undefined&&strCookie!=''&&strCookie!=null) {
		strCookie = JSON.parse(strCookie);
		// console.log(strCookie);
		loginInfo = strCookie[0];
		// console.log(loginInfo);
		$('.login-info-name').text(loginInfo.userName).attr({
			userId:loginInfo.id,
			email:loginInfo.email,
			token:loginInfo.token
		});
		get_like_file();
	}else{
		$('.login-info-name').text('登录');
	}

	function get_like_file () {
		var form = {
			targetTable:'hw_like',
			targetField:'id,hw_fileId,like_userId,is_like',
			targetMatch:'like_userId',
			targetExtra:'',
			targetId:loginInfo.id
		}
		// console.log(form);
		var type = 'get',
			url = 'admin/'+form.targetTable,
			data = form;
	    var rs = global_ajax(type,url,data);
	    // console.log(rs);

	    $(document).ready(function(){
		    $('.handwriting-div .img-each').each(function(){
		    	var fileId = Number($(this).attr('fileId'));
		    	// console.log(fileId);
		    	var that = this;
		    	$.each(rs.rows,function(i,n){
		    		if (n.hw_fileId==fileId) {
		    			$(that).find('.img-operation > span').attr({
		    				status:n.is_like,
		    				like_id:n.id
		    			});
		    			if (n.is_like==1) {
							$(that).find('.img-operation > span .icon').removeClass('icon-heart-empty').addClass('icon-heart');
		    			}else{
							$(that).find('.img-operation > span .icon').removeClass('icon-heart').addClass('icon-heart-empty');
		    			}
		    		}
		    	})
		    })
	    })
	}

	function login_or_home(obj){
		var userId = $(obj).find('.login-info-name').attr('userId');
		if (userId>0) {
			window.location.href='home?uid='+userId;
		}else{
			window.location.href='login';
		}
	}

</script>

