<%- include ../global/header.ejs %>

<%- include ../global/top.ejs %>
<style>
	
</style>
<link rel="stylesheet" href="css/poems/poems.css">

<div class="container">
	
	<div class="data-poems-list col-lg-12">

		<!-- 全局 -->
		<p class="bg-info text-center hide">
			
		</p>
		<p class="bg-success text-center hide">
			<abbr title="attribute">attr</abbr>
			<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
			<p class="text-center hide">
				<abbr>WePoem 微诗 CopyRight</abbr>
			</p>
		</p>

		<p class="text-center hide" style="background: #5bc0de;">
			<img src="" style="height:80px;" alt="">
		</p>

		<p class="hide">
			<span>诗印象收录时声明的不成文的自定义的时代tag</span><br>
			<span>中国诗:<strong>古</strong>(?-1840)|<strong>近</strong>(1840-parting)|<strong>今</strong>(living)</span><br>
			<span>世界诗:<strong>A</strong>(?-1640)|<strong>P</strong>(1640-parting)|<strong>L</strong>(living)</span><br>
			<span>中国∈世界</span>
		</p>

		
	</div>

</div>

<script>



</script>

<!-- <%- include ../global/bottom.ejs %> -->

<script src="js/poems/poem-edit-or-add.js"></script>
<!-- <script src="js/poems/poem-detail.js"></script> -->
<script src="js/poems/search.js"></script>

<%- include ../global/footer.ejs %>
